albumentations>=0.4.3
black>=19.10b0
cachetools>=3.1.0
flake8
ipdb>=0.12.3
kaggle>=1.5.6
lyft_dataset_sdk
matplotlib>=3.1.2
numpy>=1.14.5
opencv-python>=3.4.2.17
pandas>=0.25.3
Pillow>=5.2.0
pre-commit>=1.18.1
pretrainedmodels>=0.7.4
pyquaternion>=0.9.5
pytest>=5.3.2
pytorch_toolbelt>=0.2.1
scikit-image>=0.16.2
scikit-learn>=0.19.2
scipy>=1.1.0
segmentation_models_pytorch==0.1.0
Shapely>=1.6.4.post2
tensorboard>=1.15.0 
torchsummary>=1.5.1
torchvision>=0.4.2
tqdm>=4.25.0











