lyft_dataset_sdk
flake8
numpy>=1.14.5
opencv-python>=3.4.2.17
pandas>=0.25.3
Pillow>=5.2.0
pyquaternion>=0.9.5
scikit-image>=0.16.2
scikit-learn>=0.19.2
tqdm>=4.25.0
scipy>=1.1.0
cachetools>=3.1.0
Shapely>=1.6.4.post2
kaggle>=1.5.6
pytest>=5.3.2
black>=19.10b0
matplotlib>=3.1.2
albumentations>=0.4.3
ipdb>=0.12.3
torchvision>=0.4.2
torchsummary>=1.5.1
tensorboard>=1.15.0 
segmentation_models_pytorch==0.1.0
pytorch_toolbelt>=0.2.1
pre-commit>=1.18.1
pretrainedmodels>=0.7.4





